# Miscellaneous
#android/app/google-services.json
#ios/Runner/Googleervice-Info.plist
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
ios/build/Pods.build/Release-iphonesimulator/abseil.build/dgph
ios/build/Pods.build/Release-iphonesimulator/abseil.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/audioplayers.build/dgph
ios/build/Pods.build/Release-iphonesimulator/audioplayers.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/BoringSSL-GRPC.build/dgph
ios/build/Pods.build/Release-iphonesimulator/BoringSSL-GRPC.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/BSGridCollectionViewLayout.build/dgph
ios/build/Pods.build/Release-iphonesimulator/BSGridCollectionViewLayout.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/BSImagePicker-BSImagePicker.build/dgph
ios/build/Pods.build/Release-iphonesimulator/BSImagePicker-BSImagePicker.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/BSImagePicker.build/dgph
ios/build/Pods.build/Release-iphonesimulator/BSImagePicker.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/BSImageView.build/dgph
ios/build/Pods.build/Release-iphonesimulator/BSImageView.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/cloud_firestore.build/dgph
ios/build/Pods.build/Release-iphonesimulator/cloud_firestore.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/emoji_picker.build/dgph
ios/build/Pods.build/Release-iphonesimulator/Firebase.build/dgph
ios/build/Pods.build/Release-iphonesimulator/Firebase.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/firebase_analytics.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_analytics.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/firebase_auth.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_auth.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/firebase_core.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_core.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/firebase_crashlytics.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_crashlytics.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/firebase_database.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_database.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/firebase_messaging.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_messaging.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/firebase_storage.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_storage.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/FirebaseAnalytics.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseAnalytics.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/FirebaseAuth.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseAuth.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/FirebaseCore.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseCore.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/FirebaseCoreDiagnostics.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseCoreDiagnostics.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/FirebaseCrashlytics.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseCrashlytics.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/FirebaseDatabase.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseDatabase.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/FirebaseFirestore.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseFirestore.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/FirebaseInstallations.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseInstallations.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/FirebaseMessaging.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseMessaging.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/FirebaseStorage.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseStorage.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/Flutter.build/dgph
ios/build/Pods.build/Release-iphonesimulator/Flutter.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/flutter_audio_recorder2.build/dgph
ios/build/Pods.build/Release-iphonesimulator/flutter_audio_recorder2.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/flutter_local_notifications.build/dgph
ios/build/Pods.build/Release-iphonesimulator/flutter_local_notifications.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/flutter_sound_lite.build/dgph
ios/build/Pods.build/Release-iphonesimulator/fluttertoast.build/dgph
ios/build/Pods.build/Release-iphonesimulator/fluttertoast.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/FMDB.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FMDB.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/GoogleAppMeasurement.build/dgph
ios/build/Pods.build/Release-iphonesimulator/GoogleAppMeasurement.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/GoogleDataTransport.build/dgph
ios/build/Pods.build/Release-iphonesimulator/GoogleDataTransport.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/GoogleUtilities.build/dgph
ios/build/Pods.build/Release-iphonesimulator/GoogleUtilities.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/gRPC-C++-gRPCCertificates-Cpp.build/dgph
ios/build/Pods.build/Release-iphonesimulator/gRPC-C++-gRPCCertificates-Cpp.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/gRPC-C++.build/dgph
ios/build/Pods.build/Release-iphonesimulator/gRPC-C++.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/gRPC-Core.build/dgph
ios/build/Pods.build/Release-iphonesimulator/gRPC-Core.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/GTMSessionFetcher.build/dgph
ios/build/Pods.build/Release-iphonesimulator/GTMSessionFetcher.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/image_picker.build/dgph
ios/build/Pods.build/Release-iphonesimulator/image_picker.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/leveldb-library.build/dgph
ios/build/Pods.build/Release-iphonesimulator/leveldb-library.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/multi_image_picker.build/dgph
ios/build/Pods.build/Release-iphonesimulator/multi_image_picker.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/nanopb.build/dgph
ios/build/Pods.build/Release-iphonesimulator/nanopb.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/path_provider.build/dgph
ios/build/Pods.build/Release-iphonesimulator/path_provider.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/permission_handler.build/dgph
ios/build/Pods.build/Release-iphonesimulator/permission_handler.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/Pods-Runner.build/dgph
ios/build/Pods.build/Release-iphonesimulator/Pods-Runner.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/PromisesObjC.build/dgph
ios/build/Pods.build/Release-iphonesimulator/PromisesObjC.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/share.build/dgph
ios/build/Pods.build/Release-iphonesimulator/share.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/shared_preferences.build/dgph
ios/build/Pods.build/Release-iphonesimulator/shared_preferences.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/sqflite.build/dgph
ios/build/Pods.build/Release-iphonesimulator/sqflite.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/tau_core.build/dgph
ios/build/Pods.build/Release-iphonesimulator/Toast.build/dgph
ios/build/Pods.build/Release-iphonesimulator/Toast.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/abseil.build/dgph
ios/build/Pods.build/Release-iphonesimulator/audioplayers.build/dgph
ios/build/Pods.build/Release-iphonesimulator/BoringSSL-GRPC.build/dgph
ios/build/Pods.build/Release-iphonesimulator/BSGridCollectionViewLayout.build/dgph
ios/build/Pods.build/Release-iphonesimulator/BSImagePicker-BSImagePicker.build/dgph
ios/build/Pods.build/Release-iphonesimulator/BSImagePicker.build/dgph
ios/build/Pods.build/Release-iphonesimulator/BSImageView.build/dgph
ios/build/Pods.build/Release-iphonesimulator/cloud_firestore.build/dgph
ios/build/Pods.build/Release-iphonesimulator/Firebase.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_analytics.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_auth.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_core.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_crashlytics.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_database.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_messaging.build/dgph
ios/build/Pods.build/Release-iphonesimulator/firebase_storage.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseAnalytics.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseAuth.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseCore.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseCoreDiagnostics.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseCrashlytics.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseDatabase.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseFirestore.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseInstallations.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseMessaging.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FirebaseStorage.build/dgph
ios/build/Pods.build/Release-iphonesimulator/Flutter.build/dgph
ios/build/Pods.build/Release-iphonesimulator/flutter_audio_recorder2.build/dgph
ios/build/Pods.build/Release-iphonesimulator/flutter_local_notifications.build/dgph
ios/build/Pods.build/Release-iphonesimulator/flutter_sound_lite.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/fluttertoast.build/dgph
ios/build/Pods.build/Release-iphonesimulator/FMDB.build/dgph
ios/build/Pods.build/Release-iphonesimulator/GoogleAppMeasurement.build/dgph
ios/build/Pods.build/Release-iphonesimulator/GoogleDataTransport.build/dgph
ios/build/Pods.build/Release-iphonesimulator/GoogleUtilities.build/dgph
ios/build/Pods.build/Release-iphonesimulator/gRPC-C++-gRPCCertificates-Cpp.build/dgph
ios/build/Pods.build/Release-iphonesimulator/gRPC-C++.build/dgph
ios/build/Pods.build/Release-iphonesimulator/gRPC-Core.build/dgph
ios/build/Pods.build/Release-iphonesimulator/GTMSessionFetcher.build/dgph
ios/build/Pods.build/Release-iphonesimulator/image_picker.build/dgph
ios/build/Pods.build/Release-iphonesimulator/leveldb-library.build/dgph
ios/build/Pods.build/Release-iphonesimulator/multi_image_picker.build/dgph
ios/build/Pods.build/Release-iphonesimulator/nanopb.build/dgph
ios/build/Pods.build/Release-iphonesimulator/path_provider.build/dgph
ios/build/Pods.build/Release-iphonesimulator/permission_handler.build/dgph
ios/build/Pods.build/Release-iphonesimulator/Pods-Runner.build/dgph
ios/build/Pods.build/Release-iphonesimulator/PromisesObjC.build/dgph
ios/build/Pods.build/Release-iphonesimulator/share.build/dgph
ios/build/Pods.build/Release-iphonesimulator/shared_preferences.build/dgph
ios/build/Pods.build/Release-iphonesimulator/sqflite.build/dgph
ios/build/Pods.build/Release-iphonesimulator/tau_core.build/dgph~
ios/build/Pods.build/Release-iphonesimulator/Toast.build/dgph
